In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('CA_only.csv')
df

,incident_characteristics,incident_id,date,state,city_or_county,address,n_killed,n_injured,latitude,location_description,longitude,n_guns_involved
0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,33.9090,NaN,-118.333,NaN
1,"Shot - Wounded/Injured||Shot - Dead (murder, a...",479580,2013-02-03,California,Yuba (county),5800 block of Poplar Avenue,1,3,39.1236,NaN,-121.583,1.0
2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",480311,2013-02-11,California,Vallejo,800 block of Humboldt Street,1,4,38.1072,NaN,-122.228,NaN
3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",480358,2013-02-19,California,Orange (county),Katella Avenue,4,3,33.8031,NaN,-117.943,1.0
4,"Shot - Wounded/Injured||Shot - Dead (murder, a...",481213,2013-03-04,California,Los Banos,800 block of La Mesa Lane,1,3,37.0857,NaN,-120.828,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4949,"Shot - Dead (murder, accidental, suicide)",1082094,2018-03-31,California,Los Angeles,1600 block of Florence Avenue,1,0,NaN,NaN,NaN,1.0
4950,"Shot - Dead (murder, accidental, suicide)",1082096,2018-03-31,California,Earlimart,700 block of S Oak St,1,0,35.8791,NaN,-119.265,1.0
4951,"Shot - Dead (murder, accidental, suicide)",1082266,2018-03-31,California,Palmdale,37900 block of 47th St E,1,0,34.5713,NaN,-118.045,1.0
4952,"Shot - Dead (murder, accidental, suicide)",1082392,2018-03-31,California,Oakland,1700 block of 23rd Ave,1,0,NaN,NaN,NaN,1.0
4953,"Shot - Dead (murder, accidental, suicide)",1082091,2018-03-31,California,Stockton,1700 block of Harbor St,2,0,37.9478,NaN,-121.314,1.0